<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages:["orgchart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');

        // For each orgchart box, provide the name, manager, and tooltip to show.
        data.addRows([
        {% for i in answer %}
          [{v:'{{answer[i]['name']}}', f:'<div style="color:red; font-style:italic"><p>{{answer[i]['name']}}<\p><p>{{answer[i]['time']}}</p><p>count: {{answer[i]['count']}}</p></div>'},
           {% if answer[i]['parent'] == 'root' %} '' {% else %} '{{answer[i]['parent']}}' {% endif %},
            ''],
       {% endfor %}
               ]);

        // Create the chart.
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        // Draw the chart, setting the allowHtml option to true for the tooltips.
        chart.draw(data, {allowHtml:true});
      }


   </script>
    </head>
  <body>
    <div id="chart_div"></div>
  </body>
</html>